form#question(method="post", action='/question')
	div
		label Your Name:
			input(type="text", name="author")
	div
		label Question:
			input(type="text", name="body")
	div
		label Tags (comma separated):
			input(type="text", name="tags")
	div
		input(type="submit", value="Ask")

	
